/* Este es el contenido de tu archivo externo */

h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
     color: #00ff00;
}


/* body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
p {
  color: red;
} */